<nav class="contact">
    <form action="/contact/process" method="post">
        <input type="email" name="email" placeholder="your@gmail.com">
        <button type="submit">
            CONTACT
        </button>
    </form>
    <div class="logo">
        <p class="logo">
            <a class="nav"  href="/">CAT</a>  
        </p>
    </div>
</nav>
<footer>
    <section class="contain">
<div class="box">
    <a class="nav"  href="/projects">
    WORKS
</a>
</div>
<div class="box">
    <a class="nav"  href="/about/blog">
    BLOG
</a>
</div>
<div class="box">
    <a  class="nav" href="/about/skills">
    SKILLS
</a>
</div>
    </section>
 
</footer>