<footer>
    <nav class="contact">
        <form action="/contact/process" method="post">
            <input type="email" name="email" placeholder="your@gmail.com">
            <button type="submit">
                CONTACT
            </button>
        </form>
        <div class="logo">
            <p class="logo">
                <a href="/">CAT</a>  
            </p>
        </div>
    </nav>
    <section class="contain">
<div class="box">
    <a href="/projects">
    WORKS
</a>
</div>
<div class="box">
    <a href="/about/blog">
    BLOG
</a>
</div>
<div class="box">
    <a href="/about/skills">
    SKILLS
</a>
</div>
    </section>
 
</footer>