<nav class="nav">
    <div class="logo">
        <p class="logo">
          <a href="/">CAT</a>  
        </p>
    </div>
    <div class="nav">
        <ul>
            <li>
                <a href="/about/">
                    ABOUT ME
                </a>
            </li>
            <li>
                <a href="/contact">
                    CONTACT
                </a>
            </li>
        </ul>
    </div>
</nav>