<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <%- include('./partials/header') %>
<main>    
    <h1>ABOUT ME</h1>
<section class="part">
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h3>
            My name is Celeste Troccayoli
        </h3>
        <p>
            I like trees, literature and neurosciences.
I program on computers because I like to create and feel somehow "Homo-Deus". 
Every day I wake up with the goal of improving and being MUCH better than the day before. I don't like to waste time and I get bored fast. 
Within the agile system I feel "in my element". Every sprint means a new adventure that I am always happy to undertake. I am a dreamer and a doer, because dreaming is easy, but the hard part is achieving it.   
It's always a good opportunity to improve and that's why, if you have an idea or suggestion, drop me a message without hesitation. Thank you very much for reading me.

Translated with www.DeepL.com/Translator (free version)
        </p>
        <h4>
            May your day be GREAT!  
        </h4>
    </div>
</section>
<section class="part" id="brain">
    //Acá iría el cerebro en 3D
<div>
</div>
</section>
<section class="part" id="hobbies">
<div>
    <ul>
        <li><a href=""><img src="" alt="">Literature</a></li>
        <li><a href=""><img src="" alt="">Family</a></li>
        <li><a href=""><img src="" alt="">Neuroscience</a></li>
        <li><a href=""><img src="" alt="">Nature</a></li>
    </ul>
</div>
</section>
<section class="part" id="ideals">
    <div>
        <ul>
            <li><a href=""><img src="" alt="">Education</a></li>
            <li><a href=""><img src="" alt="">Integration</a></li>
            <li><a href=""><img src="" alt="">Charity</a></li>
            <li><a href=""><img src="" alt="">Sustainability</a></li>
        </ul>
    </div>
    </section>
</main>
    <%- include('./partials/footer') %>
</body>
</html>