<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>List projects</title>
</head>

<body>
    <%- include('./partials/header') %> 
    <h1>I'm glad you are interested in my projects</h1>
    <h2>Here you will find more details about them</h2>
    <section>
        <% projects.forEach(project=> { %>
            <div>
                <img src="/images/<%= project.img %> " alt="">
            </div>

            <% }) %>
    </section>
    <section>
        <h2>Here you will find more details about them</h2>
        <a href="/about/blog"> About me</a>
    </section>


    <%- include('./partials/footer') %> 
</body>

</html>