a {
    text-decoration: none;
    color: #444444;
}
section.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project {
    width: 240px;
    height: 240px;
    margin: 10px;
    background: #ff66c4;
    padding: 6px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 450ms all ease;
}
img {
    width: 100%;
}
.poster {
    display: none;
}
.project:hover img{
display: none;
}
.project:hover .poster{
    display: block;
    text-align: center;
}
.project:hover{
    background: rgb(105, 6, 56);
}

